@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grain {
  background-color: rgb(142, 157, 179);
}

body { /* Assuming you meant body for font-family */
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
}
html, body {
  width: 100vw;
  overflow-x: hidden;
}

/* From Uiverse.io by chris_6688 */ 
.grain-bg {
  width: 100%;
  height: 100%;
  background-color: #0b0f13; /* Dark background color */
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0
    ),
    linear-gradient(rgba(235, 235, 235, 0.03) 1px, transparent 0),
    linear-gradient(90deg, rgba(226, 226, 226, 0.03) 1px, transparent 0);
  background-size:
    40px 40px,
    20px 20px,
    20px 20px;
  position: relative;
  overflow: hidden;
}

.grain-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    rgba(239, 239, 239, 0.03) 10px,
    rgba(255, 255, 255, 0.03) 20px
  );
  z-index: 1;
  opacity: 0.8;
}
.grain-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.07) 1px,
    transparent 1px
  );
  background-size: 60px 60px;
  z-index: 2;
  opacity: 0.6;
}
